$color-palid    : #FAFBFF;
$color-red      : #EF3340;
$color-violet   : #6769FF;
$color-black    : #494F66;
$color-gray     : #676F8F;
$color-green    : #43B748;
$color-white    : #FFFFFF;
$color-neutral  : #E4E8F7;